@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,500;1,200&display=swap');

body{
    background-color: whitesmoke;
    font-family: 'Fira Sans', sans-serif;
    font-feature-settings: "tnum","tnum";
    font-variant:tabular-nums;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}